<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bismo.client"
    android:versionCode="2"
    android:versionName="1.1"> 
    <uses-sdk android:minSdkVersion="8" />
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" 
        android:name=".ApplicationController"
        android:debuggable="false">
        <activity
            android:name=".BiSMoClientActivity"
            android:label="@string/app_name" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
				<category android:name="android.intent.category.DEFAULT"></category>
				<category android:name="android.intent.category.BROWSABLE"></category>
				<data android:host="bismoapp.appspot.com" android:scheme="http"></data>
			</intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           <intent-filter>
            	<action android:name="android.intent.action.SEND" />
            	<category android:name="android.intent.category.DEFAULT" />
            	<data android:mimeType="text/plain" />
         </intent-filter>
        </activity>
        <activity android:name=".BiSMoShowList"  android:screenOrientation="portrait" android:theme="@style/Theme.Sherlock"></activity>
    </application>

   <uses-permission android:name="android.permission.INTERNET" />
</manifest>